.img img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

.description {
    width: 50%;
}


#aboutme .list-skill {
    border-left: 2px solid white;
}
#aboutme ul {
    border-left: 2px solid white;
    margin-left: 1rem;
}

#aboutme ul li {
    position: relative;
    left: -15px;
}

#aboutme li::marker {
    font-size: 1.3rem;
}

#aboutme li strong {
    display: inline-block;
    width: 13rem;
}

#aboutme li span::before {
    content: ': ';
}