.img img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

.description {
    width: 50%;
}

#skill li strong {
    display: inline-block;
    width: 13rem;
}
#skill li span::before {
content: ': ';
}
