@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "tailwindcss";

:root {
  --bg-dark: oklch(21% 0.034 264.665);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
  overflow-x: hidden;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

nav {
  animation: slideFromTop 0.5s ease;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .text-yellow {
    @apply text-[#FAEB92];
  }

}

@layer components {
  .navbar {
    @apply bg-gray-900/20 backdrop-blur-lg text-white grid grid-cols-3 items-center border border-white rounded-full p-2 m-5 relative;

    .brand {
      @apply justify-self-center hover:scale-105 active:scale-0 transform transition-all;
    }
    .buttonTC {
      @apply justify-self-end;
    }

    .burgerBtn {
      @apply justify-self-start w-fit ms-4;
    }

  }

  .nav-link {
    @apply text-[#FAEB92];
  }

  .underline {
    @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-gradient-to-r from-blue-800 to-blue-300 transition-all duration-300 ease-in-out group-hover:w-full;
  }

  .list-link {
    @apply hover:bg-[#CC66DA] active:bg-[#CC66DA] ease-in-out ps-4;
  }

  .button {
    @apply bg-[#CC66DA] p-2 md:p-3 rounded hover:bg-transparent hover:border-2 hover:border-[#CC66DA] active:bg-transparent active:border-2 active:border-[#CC66DA];
  }

  .section {
    @apply px-10 md:px-30 w-full min-h-screen text-white bg-gray-900 py-30 relative z-1;

    .title {
      @apply flex justify-center mb-5 flex-col items-center;
      h1{
        @apply text-center w-fit text-xl p-2 border border-blue-300 rounded text-blue-300 mb-5;
      }
      h2 {
        @apply text-center text-2xl md:text-3xl font-bold mb-3;
      }
    }
  }

}