@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
}

:root {
  --bg-dark: oklch(21% 0.034 264.665);
}

body {
  background-color: var(--bg-dark);

  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
  overflow-x: hidden;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

nav {
  animation: slideFromTop 0.5s ease;
}

section {
  padding: 30px;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .text-yellow {
    @apply text-[#FAEB92];
  }

}

@layer components {
  .navbar {
    @apply bg-gray-900/20 backdrop-blur-lg text-white grid grid-cols-3 items-center border border-white rounded-full p-2 m-5 relative;

    .brand {
      @apply justify-self-center hover:scale-105 active:scale-0 transform;
    }
    .buttonTC {
      @apply justify-self-end;
    }

    .burgerBtn {
      @apply justify-self-start w-fit ms-4;
    }

  }

  .nav-link {
    @apply text-[#FAEB92];
  }

  .underline {
    @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 ease-in-out group-hover:w-full;
  }

  .list-link {
    @apply hover:bg-[#CC66DA] active:bg-[#CC66DA] ease-in-out ps-4;
  }

  .button {
    @apply bg-[#CC66DA] p-2 md:p-3 rounded hover:bg-transparent hover:border-2 hover:border-[#CC66DA] active:bg-transparent active:border-2 active:border-[#CC66DA];
  }

  .section {
    @apply p-3 mt-20 md:mt-5;
  }

}